<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">

	<head>
	</head>
	
	<th:block layout:fragment="customContent">
		<section class="home-slider position-relative mb-30">
            <div class="container">
                <div class="home-slide-cover mt-30">
                    <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                        <div class="single-hero-slider single-animation-wrap" style="background-image: url(/resource/user/assets/imgs/slider/slider-1.png)">
                            <div class="slider-content">
                                <h1 class="display-2 mb-40">
                                    Don’t miss amazing<br />
                                    grocery deals
                                </h1>
                                <p class="mb-65">Sign up for the daily newsletter</p>
                                <form class="form-subcriber d-flex">
                                    <input type="email" placeholder="Your emaill address" />
                                    <button class="btn" type="submit">Subscribe</button>
                                </form>
                            </div>
                        </div>
                        <div class="single-hero-slider single-animation-wrap" style="background-image: url(/resource/user/assets/imgs/slider/slider-2.png)">
                            <div class="slider-content">
                                <h1 class="display-2 mb-40">
                                    Fresh Vegetables<br />
                                    Big discount
                                </h1>
                                <p class="mb-65">Save up to 50% off on your first order</p>
                                <form class="form-subcriber d-flex">
                                    <input type="email" placeholder="Your emaill address" />
                                    <button class="btn" type="submit">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="slider-arrow hero-slider-1-arrow"></div>
                </div>
            </div>
        </section>
        <!--End hero slider-->
        <section class="popular-categories section-padding">
            <div class="container wow animate__animated animate__fadeIn">
                <div class="section-title">
                    <div class="title">
                        <h3>Featured Categories</h3>
                        <ul class="list-inline nav nav-tabs links">
                            <li class="list-inline-item nav-item"><a class="nav-link" href="shop-grid-right.html">Cake & Milk</a></li>
                            <li class="list-inline-item nav-item"><a class="nav-link" href="shop-grid-right.html">Coffes & Teas</a></li>
                            <li class="list-inline-item nav-item"><a class="nav-link active" href="shop-grid-right.html">Pet Foods</a></li>
                            <li class="list-inline-item nav-item"><a class="nav-link" href="shop-grid-right.html">Vegetables</a></li>
                        </ul>
                    </div>
                    <div class="slider-arrow slider-arrow-2 flex-right carausel-10-columns-arrow" id="carausel-10-columns-arrows"></div>
                </div>
                <div class="carausel-10-columns-cover position-relative">
                    <div class="carausel-10-columns" id="carausel-10-columns">
                        <div class="card-2 bg-9 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img th:src="@{/resource/user/assets/imgs/shop/cat-13.png}" alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Cake & Milk</a></h6>
                            <span>26 items</span>
                        </div>
                        <div class="card-2 bg-10 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img th:src="@{/resource/user/assets/imgs/shop/cat-12.png}" alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Oganic Kiwi</a></h6>
                            <span>28 items</span>
                        </div>
                        <div class="card-2 bg-11 wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img th:src="@{/resource/user/assets/imgs/shop/cat-11.png}" alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Peach</a></h6>
                            <span>14 items</span>
                        </div>
                        <div class="card-2 bg-12 wow animate__animated animate__fadeInUp" data-wow-delay=".4s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img th:src="@{/resource/user/assets/imgs/shop/cat-9.png}" alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Red Apple</a></h6>
                            <span>54 items</span>
                        </div>
                        <div class="card-2 bg-13 wow animate__animated animate__fadeInUp" data-wow-delay=".5s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img th:src="@{/resource/user/assets/imgs/shop/cat-3.png}" alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Snack</a></h6>
                            <span>56 items</span>
                        </div>
                        <div class="card-2 bg-14 wow animate__animated animate__fadeInUp" data-wow-delay=".6s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img th:src="@{/resource/user/assets/imgs/shop/cat-1.png}" alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Vegetables</a></h6>
                            <span>72 items</span>
                        </div>
                        <div class="card-2 bg-15 wow animate__animated animate__fadeInUp" data-wow-delay=".7s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img th:src="@{/resource/user/assets/imgs/shop/cat-2.png}" alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Strawberry</a></h6>
                            <span>36 items</span>
                        </div>
                        <div class="card-2 bg-12 wow animate__animated animate__fadeInUp" data-wow-delay=".8s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img th:src="@{/resource/user/assets/imgs/shop/cat-4.png}" alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Black plum</a></h6>
                            <span>123 items</span>
                        </div>
                        <div class="card-2 bg-10 wow animate__animated animate__fadeInUp" data-wow-delay=".9s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img th:src="@{/resource/user/assets/imgs/shop/cat-5.png}" alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Custard apple</a></h6>
                            <span>34 items</span>
                        </div>
                        <div class="card-2 bg-12 wow animate__animated animate__fadeInUp" data-wow-delay="1s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img th:src="@{/resource/user/assets/imgs/shop/cat-14.png}" alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Coffe & Tea</a></h6>
                            <span>89 items</span>
                        </div>
                        <div class="card-2 bg-11 wow animate__animated animate__fadeInUp" data-wow-delay="0s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img th:src="@{/resource/user/assets/imgs/shop/cat-15.png}" alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Headphone</a></h6>
                            <span>87 items</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End category slider-->
	</th:block>
	
	<!-- 사용자정의 javascript file -->
	<th:block layout:fragment="customJsFile">
	
	</th:block>
	
	<!-- 사용자정의 javascript -->
	<th:block layout:fragment="customJs">
	
	</th:block>
</html>